# ========================
# Python
# ========================
__pycache__/
*.pyc

# ========================
# Simulation Results
# ========================
*.csv
*.png

# ========================
# Database Results      #REMOVE THIS ONCE EVERYTHING'S DONE
# ========================
*.db

# ========================
# ENV      #REMOVE THIS ONCE EVERYTHING'S DONE
# ========================
.env
/venv